<div class="container" data-controller="navbar-manga-search">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_with url: mangas_path,
          method: :get,
          class: "d-flex",
          data: {navbar_manga_search_target: "form", turbo_frame: "search", turbo_action: "advance"} do %>
        <%= hidden_field_tag("open_search", true)%>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a manga",
          data: {action: "focusin->navbar-manga-search#showResults blur->navbar-manga-search#hideResults"} %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>

      <ul>
        <div data-navbar-manga-search-target="results" class="<%= @open_search ? '' : 'd-none' %>">
          <%= turbo_frame_tag "search" do %>
            <% if !@mangas.nil? %>
              <% @mangas.each do |manga| %>
                <li><%= render 'mangas/results', manga: manga %></li>
              <% end %>
            <% else %>
              <em>Sorry, no mangas found.</em>
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
