<%= form_with(model: [@manga, @chapter], local: true) do |form| %>
  <div class="field">
    <%= form.label :chapter_number %>
    <%= form.number_field :chapter_number %>
  </div>

  <div class="field">
    <%= form.label :chapter_title %>
    <%= form.text_field :chapter_title %>
  </div>

  <div class="field">
    <%= form.label :pdf_files, "Upload PDF Files" %>
    <%= form.file_field :pdf_files, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
