  <div class=container>
    <h1>Upload Your Chapter</h1>
    <br><p> page address to get, something like this</p>
      <p>http://localhost:3000/chapters/new</p>
      <p>form just loading saving on local for now.. </p>
  </div>
<br>
  <div class=container>
    <%= form_tag({controller: 'chapters', action: 'create', manga_id: params[:manga_id]}, multipart: true) do %>
      <%= label_tag :chapter_title, 'Chapter Title' %>
      <%= text_field_tag :chapter_title %>

      <%= label_tag :chapter_number, 'Chapter Number' %>
      <%= number_field_tag :chapter_number %>

      <%= label_tag :pdf_upload, 'File' %>
      <%= file_field_tag :pdf_upload %>

    <%= hidden_field_tag :manga_id, params[:manga_id] %>
    <%= submit_tag 'Upload Chapter' %>
    <% end %>
  </div>
