<div class="container">
  <h1>Upload Your Chapter</h1>
  <p>Enter the URL below to access the upload page:</p>
  <p>http://localhost:3000/chapters/new</p>
</div>

<%= form_with(model: @chapter, url: {controller: 'chapters', action: 'create', manga_id: params[:manga_id]}, multipart: true) do |form| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% @chapter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chapter_title, 'Chapter Title' %>
    <%= form.text_field :chapter_title %>
  </div>

  <div class="field">
    <%= form.label :chapter_number, 'Chapter Number' %>
    <%= form.number_field :chapter_number %>
  </div>

  <%# <div class="field">
    <%= form.label :pdf_upload, 'File' %>
    <%# <%= form.file_field :pdf_upload %>
  <%# </div> %>

  <div class="field">
    <%= form.label :pdf_upload, 'File' %>
    <%= form.cl_image_upload(:pdf_upload) %>
  </div>

  <%= form.hidden_field :manga_id, value: params[:manga_id] %>
  <div class="actions">
    <%= form.submit 'Upload Chapter' %>
  </div>
<% end %>
